Files/CTE-Week4/Slides/PPT/~$CTE_Slides_Module 2_Lesson 08_STUDENT.pptx
Files/CTE-Week4/Slides/PPT/~$CTE_Slides_Module 2_Lesson 09_STUDENT.pptx
Files/CTE-Week4/Slides/Word/~$E_Slides_Module 2_Lesson 09_STUDENT.docx
